{% extends "index.html" %}
{% load static %}

{% block content %}
<table class="table table-light" style="width: 100%; margin: 0%; margin-top: 0%;">
    <thead>
        <tr>
            <th>RUN Tutor</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Peso</th>
            <th>Especie</th>
            <th>Ver/Editar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for paciente in pacientes.values %}
    <tr class="table-info">
        <td>{{paciente.rut_tutor_id}}</td>
        <td>{{paciente.nombre_paciente}}</td>
        <td>{{paciente.sexo}}</td>
        <td>{{paciente.peso}} kg</td>
        <td>{{paciente.especie}}</td>
        <td><a href="editar_paciente/{{paciente.id}}" type="button"><img width="30px" height="30px" src="{% static 'img/icon_doc.png' %}" ></a></td>
        <td><a href="nueva_consulta/{{paciente.id}}" type="buttom" class="btn-nueva-consulta">Nueva Consulta</a></td>
    </tr>
{% endfor %}
    </tbody>        
</table>

{% endblock content %}