{% extends "consulta/base.html" %}

{% block volver %}<a style="margin-left: 10px; pointer-events: all;" onclick="window.history.back()" type="button" class="btn-volver">Volver</a>{% endblock volver %}

{% block contenido %}

{% if paciente_form.errors or direccion_form.errors or tutor_form.errors %}
    <div class="alert alert-danger" role="alert" style="margin-top: 73px;">
        <strong>Algo salió mal!</strong> Verifica que los campos estén escritos correctamente y vuelve a intentarlo.
    </div>
{% endif %}

<div class="cont-consulta" style="pointer-events: none;">
    <form>
        {% csrf_token %}
        <div class="row">
            <div class="seccion-consulta">
                <div class="col-md-12" style="background-color: #f7ffa4; padding: 10px; border-radius: 15px; width: 19%;">
                    Fecha consulta {{ consulta.fecha_consulta }}
                </div>
            </div>
            <div class="seccion-consulta">
                <div class="col-md-12">
                    Motivo consulta {{ consulta_form.motivo_consulta }}
                </div>  
            </div>
            <div class="seccion-consulta">
                <div class="row">
                    <div class="col-md-6">
                        Evaluación general {{ consulta_form.evaluacion_general }}
                    </div>
                    <div class="col-md-3">
                        Nutrición {{ consulta_form.nutricion }}
                        <div class="seccion-consulta">
                            Parametros Fisiológicos
                            <div class="para-fisio">
                                <label class="lbl_para_fisio" for="id_fc">fc</label>
                                {{ consulta_form.fc }}
                            </div>
                            <div class="para-fisio">
                                <label class="lbl_para_fisio" for="id_fr">fr</label>
                                {{ consulta_form.fr }}
                            </div>
                            <div class="para-fisio">
                                <label class="lbl_para_fisio" for="id_pc">pc</label>
                                {{ consulta_form.pc }}
                            </div>
                            <div class="para-fisio">
                                <label class="lbl_para_fisio" for="id_tllc">tllc</label>
                                {{ consulta_form.tllc }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="seccion-consulta">
                            <p>Color Mucosa</p> {{ consulta_form.color_mucosa }}
                        </div>
                        <div class="seccion-consulta">
                            <p>Húmedad Mucosa</p> {{ consulta_form.humedad_mucosa }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="seccion-consulta" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-4">
                        Evaluación de los ganglios linfáticos {{ consulta_form.ev_gang_linf }}
                    </div>
                    <div class="col-md-4">
                        Comentarios adicionales {{ consulta_form.comentarios }}
                    </div>
                    <div class="col-md-4">
                        Diagnóstico {{ consulta_form.diagnostico }}
                    </div>
                </div>
            </div>
            <div class="seccion-consulta">
                <div class="row">
                    <div class="col-md-7">
                        Receta {{ consulta_form.receta }}
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;"> 
                
            </div>
        </div>
    </form>
</div>
{% endblock contenido %}